
ul{
    list-style-type: none;
}
p{
    display: inline-block;
}
.btapagar{
    background-color: rgb(224, 82, 77);border: 1px solid transparent;color: white;
    padding: 8px 15px 8px 15px;float: right;margin-right: 5%;position: relative;top: 8px;
}
.btrestaurar{
    background-color: rgb(43, 100, 223);border: 1px solid transparent;color: white;float: right;margin-right: 5%;
    padding: 8px 12px 8px 12px;position: relative;top: 8px;
}

.checkbox{
    margin-right: 3%;background-color: green;
}
li{
    border: 1px solid rgb(231, 229, 229);margin-bottom: 2%;
    
}
.botao1{
    border: none;background-color: transparent;
}
.p1{
    color: green;
}
.div00{
    margin-left: 15%;margin-right: 15%;box-shadow: 0 0 15px rgb(21, 71, 87);
    padding: 10px;background-color: white;
}
input{
    padding: 10px;border-radius: 5px;
}
.btadicionar{
    padding: 10px;border-radius: 10px;
}
.divp{
    text-align: center;
}
body{
    background-color: rgb(236, 233, 230);
}